.page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1120px;
  min-width: 343px;
  height: 100%;
  border-radius: 8px;
  backdrop-filter: blur(50px);
  background: rgba(112, 112, 112, 0.1);
}

@media screen and (max-width: 1024px) {
  .page {
    width: 960px;
  }
}

@media screen and (max-width: 887px) {
  .page {
    width: 838px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    width: 720px;
  }
}

@media screen and (max-width: 640px) {
  .page {
    width: 608px;
  }
}

@media screen and (max-width: 376px) {
  .page {
    width: 343px;
  }
}
