.slider__navigation {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  align-items: flex-end;
}

@media screen and (max-width: 887px) {
  .slider__navigation {
    column-gap: 24px;
  }
}

@media screen and (max-width: 640px) {
  .slider__navigation {
    column-gap: 16px;
  }
}
