.location__feeling {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #f5f4f4;
}

@media screen and (max-width: 640px) {
  .location__feeling {
    font-size: 14px;
    line-height: 114%;
  }
}
