.card__value {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #202020;
}

@media screen and (max-width: 640px) {
  .card__value {
    font-size: 22px;
  }
}
