.card-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  justify-content: center;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: 1fr 1fr 1fr; */
  box-sizing: border-box;
  height: 408px;
}

@media screen and (max-width: 887px) {
  .card-list {
    height: 404px;
    gap: 12px;
  }
}

@media screen and (max-width: 640px) {
  .card-list {
    height: 304px;
    width: 100%;
    max-width: 400px;
    gap: 8px;
  }
}
