.card__value-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: #393939;
}

@media screen and (max-width: 640px) {
  .card__value-container {
    font-size: 10px;
    line-height: 120%;
  }
}
