.slider__list-item {
  padding: 16px;
  display: inline-flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  background: rgba(245, 244, 244, 0.4);
  border-radius: 8px;
  box-sizing: border-box;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .slider__list-item {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .slider__list-item {
    flex-direction: row;
    padding: 12px;
    gap: 12px;
  }
}

@media screen and (max-width: 375px) {
  .slider__list-item {
    flex-direction: column;
  }
}
