.footer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

@media screen and (max-width: 887px) {
  .footer {
    padding: 24px;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    padding: 16px;
  }
}
