.slider__temp {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #202020;
  display: inline;
}

@media screen and (max-width: 640px) {
  .slider__temp {
    font-size: 12px;
    line-height: 133%;
  }
}
