.slider__nav-link_active {
  color: #f5f4f4;
  position: relative;
  cursor: default;
}

.slider__nav-link_active::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px #f5f4f4 solid;
  border-radius: 2px;
}

.slider__nav-link_active:hover::after {
  border-bottom: 2px #f5f4f4 solid;
}

@media screen and (max-width: 640px) {
  .slider__nav-link_active::after {
    bottom: -1px;
    border-bottom: 1px #f5f4f4 solid;
  }

  .slider__nav-link_active:hover::after {
    border-bottom: 1px #f5f4f4 solid;
  }
}